DEBUG= your debug
ENV_TYPE= your env type
SECRET_KEY= your django secrey key

UPSTREAM_SERVER=your upstream server
NGINX_SERVER_NAME=your nginx server name

DB_NAME= your db name
DB_USER=your db user name
DB_PASS=your db password
DB_HOST=your db host
DB_PORT=your db port

PAYME_ID=your payme cashbox id
PAYME_KEY=your payme cashbox key
PAYME_URL=https://checkout.test.paycom.uz
PAYME_CALLBACK_URL=your payme callback url
PAYME_MIN_AMOUNT=your payme minimum amount
PAYME_ACCOUNT=your payme field